{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% endblock %}

{% block content %}
<!-- ////// containers etc. -->
<h1>{% trans "Sign In" %}</h1>

<p>{% blocktrans %}If you do not have an account, please contact your site
  administrator to set this up for you.{% endblocktrans %}</p>

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
</form>

{% endblock %}
