{% extends "base.html" %}
{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% endblock %}

{% block content %}
<div class="container-md container-fluid">
  <div class="row">
      <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col d-flex justify-content-center mt-lg-4 mb-3 bg-white rounded">
          <h1>{% trans "Sign In" %}</h1>


</div>
<div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col d-flex justify-content-center mt-lg-4 mb-3 bg-white rounded">
  <h6>{% blocktrans %}If you do not have an account, please contact your site
    administrator to set this up for you.{% endblocktrans %}</h6>
</div>
</div>

<div class="row">
  <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col d-flex justify-content-center mt-lg-4 mb-3 bg-white rounded">


<form class="login d-flex justify-content-center flex-column" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="primaryAction btn btn-primary btn-lg align-center mx-auto" type="submit">{% trans "Sign In" %}</button>
</form>
</div>
</div>
</div>

{% endblock %}
