/* Root Variables */
:root{
  --primary-color: #f18820;
}

.brand-color{
    color: var(--primary-color);
}

.logo{
  letter-spacing: 1px;
  font-size: 2rem;
}

.navlink{
  padding-left: 25px !important;
  color: white !important;
}

.navlink:hover{
  color: var(--primary-color) !important;
}
button:hover{
  color: white !important;
  background-color: var(--primary-color) !important;
  border-color: transparent !important;
}
.social-media-link{
  transition: 250ms;
}
.social-media-link:hover{
  color: var(--primary-color) !important;
}
.fa-facebook{
  color: #3b5998;
}
.fa-youtube{
  color: #bb0000;
}
.fa-twitter{
  color: #00aced;
}
.fa-linkedin{
  color: #007bb6;
}
.instagram{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 250ms;
  padding: 2px 0 2px 0;
}
.instagram:hover{
  color: var(--primary-color);
}