{% extends "base.html" %}

{% block content %}
<div class="container-md container-fluid">
    <div class="row">
        <div class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col d-flex justify-content-center mt-lg-4 mb-3 bg-dark rounded">
            <img src="static/images/my-roster-management-logo.png" alt="MyRosterManagement Logo" class="img-responsive">
        </div>
    </div>
    <div class = "row">
        <div class="col-xl-8 offset-xl-2 col col-lg-10 offset-lg-1">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam mollitia odio est ducimus numquam commodi quaerat beatae quia ipsum, delectus architecto perferendis libero itaque tempore deserunt eligendi vero sed, rerum dolore laborum enim. Voluptates quasi, omnis dolorum eaque adipisci nobis exercitationem quidem facere doloribus! Consectetur voluptatum, sed accusamus amet suscipit reprehenderit et officiis, ab culpa quo nemo laboriosam recusandae nihil fugit. Itaque quo quis explicabo. Vel obcaecati, ducimus dicta, molestias aperiam quos error est sequi in iure nulla eum, aliquid officiis? Veritatis, nam rerum. Cupiditate illum unde libero obcaecati voluptates.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum rerum perferendis amet cumque assumenda voluptatem impedit minima. Dolorum, doloribus! Quos officiis fuga reiciendis reprehenderit, beatae doloremque? Amet accusamus corrupti maiores earum recusandae officiis ipsa, ex ipsam excepturi, quam dicta omnis vitae soluta nesciunt quis modi cupiditate ducimus, dolor veritatis libero sunt. Aut perferendis facere animi porro, doloremque voluptatum, beatae sequi, nobis culpa sed adipisci. Fugit nisi animi quis voluptas, esse nostrum molestias fuga dolor necessitatibus maiores accusamus, pariatur voluptate corrupti dolore error iste quaerat libero adipisci quo nulla praesentium quibusdam! Delectus laudantium vero est quis dicta commodi officiis. Blanditiis nulla deserunt, nisi illo at similique natus assumenda odio, accusamus amet incidunt debitis quia expedita a, laborum laudantium! Neque sed enim hic aperiam nesciunt exercitationem laborum!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias nesciunt error labore eligendi laboriosam quibusdam. Molestias nostrum quaerat temporibus inventore. Omnis perferendis repellat exercitationem odit autem eligendi corporis consectetur saepe quas quisquam quo, velit aspernatur id repudiandae rem incidunt cupiditate ipsam! Modi autem architecto magni iste id ipsa voluptatibus dolor tenetur alias numquam ea quae odio delectus obcaecati quod necessitatibus velit rerum veniam doloremque deserunt, aliquid tempore placeat unde ut. Commodi quis incidunt et temporibus!
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita excepturi quis saepe debitis dolorum voluptates recusandae quia ullam laborum dicta veritatis rerum praesentium distinctio totam, accusantium dignissimos fuga soluta asperiores sint quos ex cumque voluptatibus commodi. Cumque aliquid earum obcaecati.
            </p>
        </div>
    </div>
</div>
{% endblock content %}