{% extends "base.html" %}

{% block content %}
<div class="container-md container-fluid">
    <div class="row">
        <div
            class="col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 col d-flex justify-content-center mt-lg-4 mb-3 bg-dark rounded">
            <img src="static/images/my-roster-management-logo.png" alt="MyRosterManagement Logo" class="img-responsive">
        </div>
    </div>
    <div class="row">
        <div class="col-xl-8 offset-xl-2 col col-lg-10 offset-lg-1 font-enlarge">
            <p class="font-enlarge">
                Wouldn't life be so much easier in a company if you could just track all your data, securely record and store important records, and allow certain users the ability to Create, Read, Update and Delete certain records?
            </p>
            <p class="font-enlarge">
                Well <span class="brand-color-text font-weight-bold font-enlarge">look no further!</span> Here at MyRosterManagement, we have you and your company covered. MyRosterManagement's number one priority is to make life easier for companies to handle and store their crucial data.
            </p>
            <p class="font-enlarge">
                MyRosterManagement Ltd is a SaaS-based product which aims to assist small and medium sized companies with their company records. These records typically include data from Employees, Workshifts and Roles, but can be expanded to include Financial records, Sales records, Purchasing orders and more! We are happy to build a project designed and tailored specifically towards your company's needs. For more information on our services, you can access all of our contact information<a href="#" class="font-enlarge" data-toggle="modal" data-target="#contact-modal"> here</a>. 
            </p>
        </div>
    </div>
</div>
{% endblock content %}