<div class="table-responsive">
    <div class="container-fluid pt-5">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <h2>
                    {{table_name}}
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <table class="table table-bordered border-dark mx-auto">
                    <thead>
                        <caption>List of {{table_name}}</caption>
                        <tr>
                            <!-- Edit/Delete buttons only available to users with "is_staff" property set to True -->
                            {% if user.is_staff %}
                                <th scope="col" class="bg-primary text-white border-dark">
                                    Edit
                                </th>
                                <th scope="col" class="bg-primary text-white border-dark">
                                    Delete
                                </th>
                            {% endif %}
                            {% for field in fields %}
                                {% if user.is_staff is False and field.name in hidden_fields %}
                                <!-- Don't do anything in this case -->
                                {% else %}
                                    <th scope="col" class="bg-primary text-white border-dark">
                                    {{ field.name }}
                                    </th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <!-- start of first table row -->
                        <tr scope="row" class="border-primary">
                            {% for record in records %}
                                <!-- This counts backwards from end of for loop, if number is divisible by Column number, add Edit and Delete buttons to the next row.  -->
                                {% if forloop.revcounter|divisibleby:col_num and user.is_staff %}
                                    <td class="border-dark">
                                        <a href="{% url edit_url record %}" class="btn btn-primary">
                                            Edit {{table_item_name}}
                                        </a>
                                    </td>
                                    <td class="border-dark">
                                        <a href="{% url delete_url record %}" class="btn btn-danger">
                                            Delete {{table_item_name}}
                                        </a>
                                    </td>
                                {% endif %}
                                {% if record in hidden_values_list and user.is_staff is False %}
                                    <!-- Don't display anything in this case -->
                                {% else %}
                                    <td class="border-dark">
                                        {{record}}
                                    </td>
                                {% endif %}
                                {% if forloop.counter|divisibleby:col_num %}
                                    <!-- End of last row -->
                                    </tr>
                                    <!-- Start of next row -->
                                    <tr scope="row">
                                {% endif %}
                            {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>